Repository GaLaXyILY/TerraUpdate, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dfsek, @solonovamax, @duplexsystem, @Astrashh, @justaureus

.github/CODEOWNERS:

# Global owners, automatically request review when pull request is submitted
*                   @dfsek @solonovamax @duplexsystem @Astrashh @justaureus

# Platforms
/platforms/         @dfsek @solonovamax @duplexsystem @justaureus

# Common
/common/            @dfsek @solonovamax @duplexsystem @Astrashh

# Gradle Stuff
/buildSrc/          @dfsek @solonovamax @duplexsystem
*.gradle.kts        @dfsek @solonovamax @duplexsystem
/gradle/            @dfsek @solonovamax @duplexsystem

disable fabric
  platforms/fabric/build.gradle.kts.disabled
Owners: @dfsek, @solonovamax, @duplexsystem, @justaureus

Update gradle-build.yml
  .github/workflows/gradle-build.yml
Owners: @dfsek, @solonovamax, @duplexsystem, @Astrashh, @justaureus

a
  platforms/mixin-common/build.gradle.kts.disabled
  platforms/mixin-lifecycle/build.gradle.kts.disabled
Owners: @dfsek, @solonovamax, @duplexsystem, @justaureus

Update build.gradle.kts
  build.gradle.kts
Owners: @dfsek, @solonovamax, @duplexsystem

Create build.yml
  .github/workflows/build.yml
Owners: @dfsek, @solonovamax, @duplexsystem, @Astrashh, @justaureus

a
  .github/workflows/build.yml
  build.gradle.kts
Owners: @dfsek, @solonovamax, @duplexsystem, @Astrashh, @justaureus

Update gradle-build.yml
  .github/workflows/gradle-build.yml
Owners: @dfsek, @solonovamax, @duplexsystem, @Astrashh, @justaureus

Update gradle-build.yml
  .github/workflows/gradle-build.yml
Owners: @dfsek, @solonovamax, @duplexsystem, @Astrashh, @justaureus

Add files via upload
  gradle/wrapper/gradle-wrapper.jar
Owners: @dfsek, @solonovamax, @duplexsystem

a
  buildSrc/src/main/kotlin/Versions.kt
  common/api/src/main/java/com/dfsek/terra/api/util/reflection/ReflectionUtil.java
  platforms/bukkit/build.gradle.kts
  platforms/bukkit/common/src/main/java/com/dfsek/terra/bukkit/TerraBukkitPlugin.java
  platforms/bukkit/common/src/main/java/com/dfsek/terra/bukkit/util/VersionUtil.java
  platforms/bukkit/nms/v1_21/build.gradle.kts
  platforms/bukkit/nms/v1_21/src/main/java/com/dfsek/terra/bukkit/nms/v1_21/AwfulBukkitHacks.java
  platforms/bukkit/nms/v1_21/src/main/java/com/dfsek/terra/bukkit/nms/v1_21/NMSBiomeInfo.java
  platforms/bukkit/nms/v1_21/src/main/java/com/dfsek/terra/bukkit/nms/v1_21/NMSBiomeInjector.java
  platforms/bukkit/nms/v1_21/src/main/java/com/dfsek/terra/bukkit/nms/v1_21/NMSBiomeProvider.java
  platforms/bukkit/nms/v1_21/src/main/java/com/dfsek/terra/bukkit/nms/v1_21/NMSChunkGeneratorDelegate.java
  platforms/bukkit/nms/v1_21/src/main/java/com/dfsek/terra/bukkit/nms/v1_21/NMSInitializer.java
  platforms/bukkit/nms/v1_21/src/main/java/com/dfsek/terra/bukkit/nms/v1_21/NMSInjectListener.java
  platforms/bukkit/nms/v1_21/src/main/java/com/dfsek/terra/bukkit/nms/v1_21/NMSWorldProperties.java
  platforms/bukkit/nms/v1_21/src/main/java/com/dfsek/terra/bukkit/nms/v1_21/Reflection.java
  platforms/bukkit/nms/v1_21/src/main/java/com/dfsek/terra/bukkit/nms/v1_21/RegistryFetcher.java
  platforms/fabric/build.gradle.kts
  platforms/mixin-common/build.gradle.kts
  platforms/mixin-lifecycle/build.gradle.kts
Owners: @dfsek, @solonovamax, @duplexsystem, @Astrashh, @justaureus

dưa
  gradle/wrapper/gradle-wrapper.jar
Owners: @dfsek, @solonovamax, @duplexsystem

Add files via upload
  gradle/wrapper/gradle-wrapper.jar
Owners: @dfsek, @solonovamax, @duplexsystem

Update gradle-build.yml
  .github/workflows/gradle-build.yml
Owners: @dfsek, @solonovamax, @duplexsystem, @Astrashh, @justaureus

Update gradle-build.yml
  .github/workflows/gradle-build.yml
Owners: @dfsek, @solonovamax, @duplexsystem, @Astrashh, @justaureus

Update gradle-build.yml
  .github/workflows/gradle-build.yml
Owners: @dfsek, @solonovamax, @duplexsystem, @Astrashh, @justaureus

Add files via upload
  gradle/wrapper/gradle-wrapper.jar
Owners: @dfsek, @solonovamax, @duplexsystem

Update gradle-build.yml
  .github/workflows/gradle-build.yml
Owners: @dfsek, @solonovamax, @duplexsystem, @Astrashh, @justaureus

Update gradle-build.yml
  .github/workflows/gradle-build.yml
Owners: @dfsek, @solonovamax, @duplexsystem, @Astrashh, @justaureus

Update build.gradle.kts
  build.gradle.kts
Owners: @dfsek, @solonovamax, @duplexsystem

d
  .github/workflows/build.yml
  .github/workflows/gradle-build.yml
Owners: @dfsek, @solonovamax, @duplexsystem, @Astrashh, @justaureus

ds
  platforms/fabric/build.gradle.kts.disabled
  platforms/mixin-common/build.gradle.kts.disabled
  platforms/mixin-lifecycle/build.gradle.kts.disabled
Owners: @dfsek, @solonovamax, @duplexsystem, @justaureus
